body{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
section{
  height: 470px;
  padding-bottom: 150px;
}
.top-hero{
  background-image: url(images/donation1.jpg);
  width: 100%;
  background-size: 1400px, 0px, 0px, 0px;
}
.hero-header{
  text-align: center;
  padding-top: 180px;
}
.hero-header h1{
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.hero-header p{
  color: white;
  font-weight: normal;
}
.anchoor-btn {
  padding: 10px 40px;
  background-color: tomato;
  text-decoration: none;
  border-radius: 12px;
  color: white;
  font-size: 15px;
}








































































