body{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
section{
  height: 470px;
  padding-bottom: 150px;
  display: block;
}
.top-hero{
  background-image: url(images/donation1.jpg);
  width: 100%;
  background-size: 1400px, 0px, 0px, 0px;
}
.hero-header{
  text-align: center;
  padding-top: 180px;
}
.hero-header h1{
  color: white;
  font-size: 50px;
  font-weight: bold;
}
.hero-header p{
  color: white;
  font-weight: normal;
}
.anchoor-btn {
  padding: 10px 40px;
  background-color: tomato;
  text-decoration: none;
  border-radius: 12px;
  color: white;
  font-size: 15px;
}
/* Donate today*/
.donate-sec{
  justify-content: space-evenly;
  align-items: center;
}
.donate-day{
  text-align: center;
  padding-top: 80px;
}
.donate-day h1{
  font-weight: bold;
}
.donat-pre{
  font-weight: bold;
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.donate-tk{
  border: 2px solid gray;
  height: 60px;
  width: 100px;
  text-align: center;
  padding-top: 30px;
  background-color: rgba(0, 0, 0, 0.02);
  font-size: 18px;
  margin-top: 30px;
  border: 0px solid ;
  border-radius: 5px;
}
#pracing{
  background-color: rgb(255,238,238);
  border: 3px solid red;
}
.others-ammount{
  text-align: center;
  padding-top: 50px;
}
.border-none{
  width: 100%;
  padding: 18px;
  border: none;
  outline: 0px solid transparent;
  text-align: center;
  font-weight: bold;
}
.others-ammount hr{
  width: 50%;
  color: lightgray;
  margin-bottom: 30px;
}
/*Donate plan*/
.donate-plan{
 display: flex;
 justify-content: space-evenly;
 padding-top: 40px;
}
.donate-content{
  text-align: center;
}
.donate-content h1{
  font-weight: 900;
  color :black;
  font-size: 40px;
}
.donate-content p{
  color: gray;
}
.donate-three{
  border: 1px solid gray;
  padding: 20px;
  width: 280px;
  height: 220px;
}
.donate-three img{
  width: 50px;
}
.donate-three h2{
  font-weight: bold;
  font-size: 18px;
}
#donate-one{
  background-color: rgb(237,245, 246);
}
#donate-two{
  background-color: rgb(255,238, 238);
}
#donate-three{
  background-color: rgb(255,244, 214);
}
/*There depend*/
.depend-top{
  padding-bottom: 10px;
}
.depend-prents{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.child-depend{
 width: 40%;
}
.child-depend h1{
  font-weight: bold;
  font-size: 40px;
}
.child-depend p{
  color: gray;
  font-style: normal;
  
}
.child-depend img{
  width: 100%;
  border-radius: 10px;
}
.anchoor-depend{
  padding: 10px 30px;
  background-color: tomato;
  text-decoration: none;
  color: white;
  font-size: 15px;
}
/*Get My Updates*/
.get-updates{
  text-align: center;
  padding: 0;
}
.get-content{
  text-align: center;
}
.get-content h1{
  font-weight: bold;
  font-size: 40px;
}
.get-content p{
  color: gray;
}
.get-subscribe {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  height: 40vh;
  width: 60%;
  margin: 0 auto;
}
.form-box{
  display: ;
}
.email-get{
  padding: 10px 10px;
  background-color: rgb(217,217,217);
  border: 1px solid rgb(217,217,217);
  outline: 0px solid transparent;
}
.get-subscribe .btn{
  padding: 10px;
  background-color: red;
  border: 1px solid red;
  color: white;
  border-radius: 5px;
}
footer{
  text-align: center;
  background-color: black;
  height: 150px;
}
.footer-content h1{
  text-align: center;
  color: rgb(255,89,89);
  font-style: italic;
  font-size: 20px;
  padding-top: 25px;
}
.footer-content p{
  color: white;
  font-weight: normal;
}




































